{% extends "master.html" %}

{% block title %}
  MyAttendance
{% endblock %}


{% block content %}
<div class="bg-white h-100 flex flex-column text-center m-0 w-100 p-5">
	<div class="m-5"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-calendar3 text-info" viewBox="0 0 16 16">
  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></div>

        {% if user.is_authenticated %}
  <a class="text-decoration-none " href="{% url 'records' %}"><button class="btn btn-outline-info"> View Records</button></a>
  	{% else %}
  
  <a class="text-decoration-none " href="{% url 'login' %}"><button class="btn btn-outline-info"> Login</button></a>
  	{% endif %}
</div>
<div class="text-muted">
<p class="text-secondary">Say goodbye to the hassle of traditional attendance record keeping, because we're here to revolutionize the way students track their attendance.</p>
<p>
	MyAttendance provides an intuitive solution to effortlessly manage your attendance records. With our user-friendly interface and seamless navigation, you'll experience a new level of convenience and efficiency in your academic journey.</p><p>

Harnessing the latest in technology, our application leverages Django's robust features to deliver a secure and reliable attendance management system. Through intelligent algorithms and data analytics, we provide valuable insights and metrics to help you stay on top of your attendance goals.
</p>
<p>Experience the future of attendance tracking with our feature-rich web application, powered by Django. Embrace the convenience, efficiency, and precision that technology brings to your academic life. Start your attendance revolution today and unlock a new level of productivity and success.</p>
</div>
{% endblock %}
